
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Sweetalert
@import '~sweetalert2/src/sweetalert2.scss';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

//Pop up
@import '~magnific-popup/dist/magnific-popup.css';

body {
  padding-top: 70px;
}

.custom-file-label::after {
  content: "Parcourir";
}

.card-columns {
  @include media-breakpoint-only(sm) {
    column-count: 2;
  }
  @include media-breakpoint-only(lg) {
    column-count: 3;
  }
  @include media-breakpoint-only(xl) {
    column-count: 4;
  }
}

html, body {
  height: 100%;
}
.site-wrapper {
  display: grid;
  height: 100%;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "center";
}
.site-wrapper-inner {
  grid-area: center;
  align-self: center;
}

.text-title, h1 {
  color: white;
}

a:hover {
  text-decoration: none;
}
.star-rating {
  direction: rtl;
  display: block;
}

.star-rating div {
  display: inline-block;
  font-size: 15px;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  cursor: pointer;
}
.star-yellow,
.star-rating div:hover,
.star-rating div:hover ~ div {
  color: #f2b600
}
.hover_img a { position:relative; }
.hover_img a span { position:absolute; display:none; z-index:99; }
.hover_img a:hover span { display:block; }
